/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');


* {
  box-sizing: border-box;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 36px;
}

.form-input {
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
  outline: none;
}

.form-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  box-shadow: none;
  border: none;

}

.form-input:hover {
  border-color: #000;
}

.form-input:focus {
  border-color: #4E75FF;
}

.form-button:hover {
  background: #6c8cff;

}

.loader {
  display: none;
}

.loader.is-visible {
  display: block;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.gallery {
  width: 100%;
  padding: 24px 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  width: 360px;
  height: 200px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
}

.gallery-item img {
  width: 100%;
  height: 152px;
  display: block;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px;
  font-size: 14px;
  background: #f9f9f9;
}

.info-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery-item:hover,
.gallery-item:focus {
  transform: scale(1.04);
}

.loader {
  display: none;
  margin: 0 auto 20px;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

.loader.is-visible {
  display: block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.load-more-btn{
  font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
  border-radius: 8px;
    padding: 8px 16px;
    width: 125px;
    height: 40px;
    background: #4e75ff;
    box-shadow: none;
      border: none;
      margin: 0 auto;
}

.load-more-btn:hover {
  background: #6c8cff;

}


.load-more-btn.is-visible{
  display: none;
}